<div class="page">
    <h1>Dashboard</h1>

    <div class="stats-grid">
        <div class="card">
            <h2>Tagesumsatz</h2>
            <p class="value">{{ dailyRevenue | currency:'EUR' }}</p>
        </div>

        <div class="card">
            <h2>Kunden heute</h2>
            <p class="value">{{ dailyCustomers }}</p>
        </div>
    </div>

    <h2>Neueste Tickets</h2>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Nummer</th>
            <th>Besuchsart</th>
            <th>Typ</th>
            <th>Kunde</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of latestTickets">
            <td>{{ ticket.ticketNumber }}</td>
            <td>{{ ticket.visitType }}</td>
            <td>{{ ticket.ticketType }}</td>
            <td>{{ ticket.customerType }}</td>
        </tr>
        <!-- Testdaten -->
        <tr>
            <td>100001</td>
            <td>Einzelbesuch</td>
            <td>Erwachsener</td>
            <td>Regulär</td>
        </tr>
        <tr>
            <td>100002</td>
            <td>Einzelbesuch</td>
            <td>Kind</td>
            <td>Ermäßigt</td>
        </tr>
        <tr>
            <td>100003</td>
            <td>Gruppenbesuch</td>
            <td>Schüler</td>
            <td>Gruppe</td>
        </tr>
        <tr>
            <td>100004</td>
            <td>Einzelbesuch</td>
            <td>Senior</td>
            <td>Regulär</td>
        </tr>
        <tr>
            <td>100005</td>
            <td>Familienkarte</td>
            <td>2 Erwachsene + 2 Kinder</td>
            <td>Familie</td>
        </tr>
        <tr>
            <td>100006</td>
            <td>Gruppenbesuch</td>
            <td>Erwachsener</td>
            <td>Gruppe</td>
        </tr>
        <tr>
            <td>100007</td>
            <td>Einzelbesuch</td>
            <td>Student</td>
            <td>Ermäßigt</td>
        </tr>
        <tr>
            <td>100008</td>
            <td>Einzelbesuch</td>
            <td>Erwachsener</td>
            <td>Sonderaktion</td>
        </tr>
        <tr>
            <td>100009</td>
            <td>Familienkarte</td>
            <td>1 Erwachsener + 3 Kinder</td>
            <td>Familie</td>
        </tr>
        <tr>
            <td>100010</td>
            <td>Gruppenbesuch</td>
            <td>Senior</td>
            <td>Gruppe</td>
        </tr>
        </tbody>
    </table>
</div>
